<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Portail Médical Horus{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {%block stylesheets%}
      
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>                  
                <link rel="stylesheet" href="{{asset('bundles/portailfront/js/prettyPhoto/css/prettyPhoto.css')}}"/>
                <link rel="stylesheet" href="{{asset('bundles/portailfront/js/flexslider/flexslider.css')}}"/>                
                <link rel="stylesheet" href="{{asset('bundles/portailfront/css/jquery.ui.all.css')}}"/>                
                <link rel="stylesheet" href="{{asset('bundles/portailfront/css/jquery.ui.theme.css')}}"/> 
		<link rel="stylesheet" href="{{asset('bundles/portailfront/style.css')}}"/>
                <link rel="stylesheet" href="{{asset('bundles/portailfront/stylelogin.css')}}"/>
                <link rel="stylesheet" href="{{asset('bundles/portailfront/css/media-queries.css')}}"/>                    
                <link rel="stylesheet" href="{{asset('bundles/portailfront/css/custom.css')}}"/> 
                
                                         
<style type="text/css">





/*------------------POPUPS------------------------*/
#fade {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none;
	background: #DFDFDF;
	padding: 20px; 	
	border: 20px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
}
img.btn_close {
	float: right; 
	margin: -55px -55px 0 0;
}
.popup p {
	padding: 5px 10px;
	margin: 5px 0;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}
</style>

                <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                <!--[if lt IE 9]>
                    <script src="js/html5.js"></script>
                <![endif]-->
{% endblock %}				
{% block javascripts %}


                <script src="{{asset('bundles/portailfront/js/jquery-1.8.2.min.js')}}"></script>
                <script src="{{asset('bundles/portailfront/js/prettyPhoto/js/jquery.prettyPhoto.js')}}"></script>                
                <script src="{{asset('bundles/portailfront/js/jquery.validate.min.js')}}"></script>
                <script src="{{asset('bundles/portailfront/js/jquery.form.js')}}"></script>
                <script src="{{asset('bundles/portailfront/js/jquery.ui.core.min.js')}}"></script>
                <script src="{{asset('bundles/portailfront/js/jquery.ui.datepicker.min.js')}}"></script>
                <script src="{{asset('bundles/portailfront/js/jquery.cycle.lite.js')}}"></script>
                <script src="{{asset('bundles/portailfront/js/jquery.easing.1.3.js')}}"></script>
                <script src="{{asset('bundles/portailfront/js/flexslider/jquery.flexslider-min.js')}}"></script>
                <script src="{{asset('bundles/portailfront/js/jquery.isotope.min.js')}}"></script>
                <script type="text/javascript" src="{{asset('bundles/portailprofil/profile/js/jquery.adipoli.min.js')}}"></script>
                <script src="{{asset('bundles/portailfront/js/custom.js')}}"></script>
                 <script src="{{asset('bundles/portailprofil/profile/js/jquery.bpopup.min.js')}}"></script>     
		  
 <script>
jQuery(function($){
						   		   
	//When you click on a link with class of poplight and the href starts with a # 
	$('a.poplight').on('click', function() {
		var popID = $(this).data('rel'); //Get Popup Name
		var popWidth = $(this).data('width'); //Gets Popup Width

		//Fade in the Popup and add close button
		$('#' + popID).fadeIn().css({ 'width': popWidth}).prepend('<a href="#" class="close"><img src="{{asset('bundles/portailfront/images/close_pop.png')}}" class="btn_close" title="Close Window" alt="Close" /></a>');
		
		//Define margin for center alignment (vertical + horizontal) - we add 80 to the height/width to accomodate for the padding + border width defined in the css
		var popMargTop = ($('#' + popID).height() + 80) / 2;
		var popMargLeft = ($('#' + popID).width() + 80) / 2;
		
		//Apply Margin to Popup
		$('#' + popID).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});
		
		//Fade in Background
		$('body').append('<div id="fade"></div>'); //Add the fade layer to bottom of the body tag.
		$('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn(); //Fade in the fade layer 
		
		return false;
	});
	
	
	//Close Popups and Fade Layer
	$('body').on('click', 'a.close, #fade', function() { //When clicking on the close or fade layer...
		$('#fade , .popup_block').fadeOut(function() {
			$('#fade, a.close').remove();  
	}); //fade them both out
		
		return false;
	});

	
});
</script>
                
                               
                                
				   

  <script>
       				
      
      
	$(function(){
$('#fos_user_registration_form_username').blur(function(){
    var input = "var="+ $('#fos_user_registration_form_username').val();
         $.post("{{path('Testusername')}}", input , function(theResponse){
				$("#validation").html(theResponse);});
		
			});
 $('#fos_user_registration_form_email').blur(function(){
    var input1 = "var1="+ $('#fos_user_registration_form_email').val();
         $.post("{{path('Testemail')}}", input1 , function(theResponse){
				$("#validemail").html(theResponse);});
		
			});
                        
           $('#fos_user_registration_form_plainPassword_second').blur(function(){
    var input1 =  $('#fos_user_registration_form_plainPassword_first').val();
  var input2 = $('#fos_user_registration_form_plainPassword_second').val();
		if(input1!=input2)
                    $("#validpassword").html('Verification mot de passe incorrect');
		else
                     $("#validpassword").html();
                    });   
                        
			}); 


          
            
        
    </script>
  
     {% endblock %}  

    </head>
    <body>
        
        

     
   
       
      				
        
				
                {% block body %} 		
                       <!-- Starting Website Wrapper -->
                        <div id="wrapper">
                            {% block header %} {% endblock %}
                            {% block slider %} {% endblock %}
                            {% block container %} {% endblock %}
                            {% block footer %} {% endblock %} 
                        </div><!-- End of Wrapper Div -->
                        <div id="loadingmsg" style="display: none;">
						<img src="{{asset('bundles/portailfront/images/wait.gif')}}"/>
						</div>
     	                <a href="#top" id="scroll-top"></a>
                	
{% endblock %} 		
</body>
</html>
















 