<!-- Resume -->
                <div id="resume">
                    <form action="{{path('editprofil')}}" id="compteform" {{ form_enctype(form) }}  method="post">
                              <p>
                            	<label for="name">Username :</label>
                            	{{form_widget(form.username)}}
                            </p>
                             <p>
                            	<label for="name">Mot de passe :</label>
                            	{{form_widget(form.plainPassword.first)}}
                            </p>
                             <p>
                            	<label for="name">Retaper le mot de passe SVP :</label>
                            	{{form_widget(form.plainPassword.second)}}
                            </p>
                             <p>
                            	<label for="name">Email :</label>
                            	{{form_widget(form.email)}}
                            </p>
                             <p>
                            	<label for="name">Sexe :</label>
                            	{{form_widget(form.sexe)}}
                            </p>
                            <p>
                            	<label for="name">Nom :</label>
                            	{{form_widget(form.nom)}}
                            </p>
                            
                            <p>
                            	<label for="name">Prénom :</label>
                            	{{form_widget(form.prenom)}}
                            </p>
                            <p>
                            	<label for="name">Adresse :</label>
                            	{{form_widget(form.adresse)}}
                            </p>
                             <p>
                            	<label for="name">DateNaissance :</label>
                            	{{form_widget(form.datenaissance)}}
                            </p>
                             <p>
                            	<label for="name">Ville :</label>
                            	{{form_widget(form.ville)}}
                            </p>
                          
                             <p>
                            	<label for="name">Téléphone :</label>
                            	{{form_widget(form.telephone)}}
                            </p>
                            <div style="display: none">
                  {{form_widget(form.latitude)}}
                {{form_widget(form.longitude)}}
            
            </div> 
              <p>
                            	<label for="name"> Indiquer votre position actuelle : </label>
                            
                            </p>
                             
                            <div id="map"></div>
                                                      
                            <input type="submit" name="valider" value="Valider" class="submit">
                             
                        
                            {{form_widget(form)}}
                          </form>  
                        
                </div>
                <!-- /Resume --> 