<div id="up_gallery" style="display: none"> <!-- Messages are shown when a link with these attributes are clicked: href="#messages" rel="modal"  -->
	<span style="font-size: medium">Créer une nouvelle galerie</span>
        <div class="clear"></div>			
                              <form action="{{ path('creer_dossier') }}" method="post" {{ form_enctype(form) }}>
                                            
                                        <fieldset>
                                            {{ form_row(form.name, { 'label' : 'Nom' }) }}
					
                                            {{ form_row(form.description, { 'label' : 'Description' }) }}
					
                                            {{ form_row(form.longueur, { 'label' : 'Longueur' }) }}
					
                                            {{ form_row(form.largeur, { 'label' : 'Largeur' }) }}
					</fieldset>
                                        <fieldset>
						<input class="button" type="submit" value="Créer" />
						
					</fieldset>
				 
</form>
				
				
</div> 