<html>
    <body>
        <h1>Gestion Newsletter</h1>
        <form method="post" action="{{path('Newsletter_creer')}}" {{ form_enctype(form) }}>
        <table>
            <tr>
                <td>
                 Titre   
                </td>
                <td>
                {{form_widget(form.titre)}}   
                </td>
                </tr>
                <tr>
                <td>
                 Contenu   
                </td>
                <td>
                {{form_widget(form.contenu)}}   
                </td>
                </tr>
                
                <tr><td><input type="submit" value="Enregistrer et envoyer" name="envoyer"></td></tr>
            
        </table>
                  {{ form_rest(form) }}
            </form>
   
    </body>

</html>