{% extends 'PortailFrontBundle::layout.html.twig' %}

{%block stylesheets%}
{{parent() }}

{%endblock%}
 {%block javascripts %}
{{parent() }}
  
 <script src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js" type="text/javascript"></script>
                                <script type="text/javascript">
                                    getTwitters('twitter_update_list', { 
                                          id: '960development', 
                                          count: 1,
                                          enableLinks: true, 
                                          ignoreReplies: true, 
                                          clearContents: true,
                                          template: '%text%'
                                    });
     </script>
	 <script type="text/javascript">var switchTo5x=false;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "8a559a23-282a-4f1c-b8a7-ad0e3d7f20f9", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

	 
	 {%endblock %}
  {%block header %}

  
  	{% include 'PortailProfilBundle:Front:header.html.twig'%}
 {%endblock%}
 {%block container %}
  <hgroup class="page-head">                                    		
                                <h2> <span>{{maladie.designation}}</span></h2>
                               
                        </hgroup>
  <div id="container" class="clearfix" style="background-color: whitesmoke; margin-top: -20px;">
  <div id="content" class="doctor-page">
										<article id="post-example" class="hentry clearfix">
											<div class="doctor-img">													
                                                <a href="{{asset('bundles/portailfront/images/maladies/')}}{{maladie.path}}" title="{{maladie.designation}}" class="pretty-photo"><img class="img-border" src="{{asset('bundles/portailfront/images/maladies/')}}{{maladie.path}}" alt="{{maladie.designation}}"></a>      
                                                <a href="https://twitter.com/#!/envato" class="twitter"></a>
                                                <a href="http://www.facebook.com/envato" class="facebook"></a>
											</div>
                                            																
                                            <h2>Description maladie</h2>
                                          	<p>{{maladie.description}}</p>
												<h2>Symptômes</h2>
												<p>{{maladie.symptomes}}</p> 
													<h2>Causes</h2>
													<p>{{maladie.causes}}</p>
													<h2>Prevention</h2>
													<p>{{maladie.prevention}}</p>
										</article>
         
										<span class='st_sharethis_large' displayText='Publier sur'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_pinterest_large' displayText='Pinterest'></span>
<span class='st_email_large' displayText='Email'></span>	
                 </div>
           {%render 'PortailFrontBundle:Fichemaladie:sidebar'%}
 </div>

  {%include 'PortailFrontBundle:Front:footer.html.twig'%}
 {%endblock%}