<div id="container">
                        		
                                <section class="slogan">
                                    <h2>Awesome Theme for Medical and Health Websites</h2>
                                    <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h3>
                                </section>
                                
                                <ul class="services">                                        
                                      <li class="service">
                                          <figure class="service-thumb"><a href="single-service.html"><img src="{{asset('bundles/acmedemo/images/Refined/small/serv1.png')}}" alt="Diagnostic Imaging"></a></figure>
                                          <h4><a href="single-service.html">Diagnostic Imaging</a></h4>
                                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                      </li>
                                      <li class="service">
                                          <figure class="service-thumb"><a href="single-service.html"><img src="{{asset('bundles/acmedemo/images/Refined/small/serv2.png')}}" alt="Cancer Care"></a></figure>
                                          <h4><a href="single-service.html">Cancer Care</a></h4>
                                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                      </li>
                                      <li class="service">
                                          <figure class="service-thumb"><a href="single-service.html"><img src="{{asset('bundles/acmedemo/images/Refined/small/serv3.png')}}" alt="Rehabilitation Center"></a></figure>
                                          <h4><a href="single-service.html">Rehabilitation Center</a></h4>
                                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                      </li>
                                      <li class="service">
                                          <figure class="service-thumb"><a href="single-service.html"><img src="{{asset('bundles/acmedemo/images/Refined/small/serv4.png')}}" alt="Emergency Services"></a></figure>
                                          <h4><a href="single-service.html">Emergency Services</a></h4>
                                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                      </li>
                                      <li class="service">
                                          <figure class="service-thumb"><a href="single-service.html"><img src="{{asset('bundles/acmedemo/images/Refined/small/serv5.png')}}" alt="Transplant Services"></a></figure>
                                          <h4><a href="single-service.html">Transplant Services</a></h4>
                                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                      </li>                                               
                                </ul><!-- end of services -->                                                               
                                
                                <div id="content" class="full-width"></div>
                                
                                
                                <div class="official clearfix">
                                		
                                        <div class="home-left-side">                                        
                                            <section class="team clearfix">
                                                    <h2 class="smart-head">Meet Our Doctors</h2>
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                                    
                                                    <ul class="doctors">
                                                        <li>
                                                           <h4><a href="single-doctor.html"></a></h4>
                                                           <figure class="doc-img">													
                                                               <a href="single-doctor.html" title="Dr.Orana Taleebin" ><img src="{{asset('bundles/acmedemo/images/Refined/small/d6.jpg')}}" alt="Slider Image"></a>
                                                               <span class="doc-type">Gyne</span>																																
                                                           </figure>
                                                           <p>Royal Prince Alfred Hospital – Sydney June 2009 to July 2010 Lorem ipsum dolor sit amet, consectetur adipisicing…</p>
                                                        </li> 
                                                        <li>
                                                           <h4><a href="single-doctor.html"></a></h4>
                                                           <figure class="doc-img">													
                                                               <a href="single-doctor.html" title="Dr.Adaline Becka" ><img src="{{asset('bundles/acmedemo/images/Refined/small/d4.jpg')}}" alt="Slider Image"></a>
                                                               <span class="doc-type">Gyne</span>																																
                                                           </figure>
                                                           <p>Royal Prince Alfred Hospital – Sydney June 2009 to July 2010 Lorem ipsum dolor sit amet, consectetur adipisicing…</p>
                                                        </li>
                                                        <li>
                                                           <h4><a href="single-doctor.html"></a></h4>
                                                           <figure class="doc-img">													
                                                               <a href="single-doctor.html" title="Dr.Andrew Bert" ><img src="{{asset('bundles/acmedemo/images/Refined/small/d3.jpg')}}" alt="Slider Image"></a>
                                                               <span class="doc-type">ENT</span>																																
                                                           </figure>
                                                           <p>Royal Prince Alfred Hospital – Sydney June 2009 to July 2010 Lorem ipsum dolor sit amet, consectetur adipisicing…</p>
                                                        </li>                                                                                                     		
                                                    </ul>
                                                    <a href="doctors-four-columns.html" class="readmore">More Doctors</a>														
                                            </section>
                                            
                                            <section class="testi">
                                                    <h2 class="smart-head">What our patients say</h2>
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                                    <div class="pslider">
                                                            <ul class="patients" style="position: relative; height: 133px;">                                                                        	
                                                                    <li style="position: absolute; top: 0px; z-index: 3; opacity: 0; display: none;">
                                                                        <div class="imgbox" style="background-image: url({{asset('bundles/acmedemo/images/Refined/p4.png')}}); background-color: rgb(230, 230, 230); background-position: 50% 50%; background-repeat: no-repeat no-repeat;">
                                                                        	<img  src="{{asset('bundles/acmedemo/images/Refined/p4.png')}}" alt="Image" style="display: none;">
                                                                        </div>  
                                                                        <div class="detail">
                                                                                <blockquote>
                                                                                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. 
                                                                                        Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                                                                                </blockquote>
                                                                                <p class="author"><a href="#brian" class="author">Brian Wagner,</a>ENT Department</p>
                                                                        </div>                                                                                                             
                                                                    </li>                                               
                                                                    <li style="position: absolute; top: 0px; z-index: 2; display: block; opacity: 1;">
                                                                        <div class="imgbox" style="background-image: url({{asset('bundles/acmedemo/images/Refined/p3.png')}}); background-color: rgb(230, 230, 230); background-position: 50% 50%; background-repeat: no-repeat no-repeat;">
                                                                        	<img  src="{{asset('bundles/acmedemo/images/Refined/p3.png')}}" alt="Image" style="display: none;">
                                                                        </div>  
                                                                        <div class="detail">
                                                                                <blockquote>
                                                                                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                                                                </blockquote>
                                                                                <p class="author"><a href="#Jullia" class="author">Jullia Robert,</a>Skin Care</p>
                                                                        </div>                                                                                                             
                                                                    </li>                                               
                                                                    <li style="position: absolute; top: 0px; z-index: 1; display: none; opacity: 0;">
                                                                        <div class="imgbox" style="background-image: url({{asset('bundles/acmedemo/images/Refined/p1.jpg')}}); background-color: rgb(230, 230, 230); background-position: 50% 50%; background-repeat: no-repeat no-repeat;">
                                                                        	<img  src="{{asset('bundles/acmedemo/images/Refined/p1.jpg')}}" alt="Image" style="display: none;">
                                                                        </div>  
                                                                        <div class="detail">
                                                                                <blockquote>
                                                                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
                                                                                </blockquote>
                                                                                <p class="author"><a href="#john" class="author">John Doe,</a>Dental Care</p>
                                                                        </div>                                                                                                             
                                                                     </li>                                                                 
                                                                </ul>
                                                    </div>
                                                    
                                                    <p class="patient-nav">
                                                            <span class="t_left"></span>
                                                            <span class="t_right"></span>
                                                    </p>
                                                    
                                            </section><!-- end of testi section -->                                       
                                        </div><!-- home left side -->                                        
                                        
                                        <aside id="sidebar">
                                                                                    
                                            <section class="widget">                   
                                                <div class="appointment">
                                                    <div class="header">
                                                            <h2>Make an Appointment</h2>
                                                            <h3 class="number">1-800-123-4567</h3>
                                                            <span class="or">OR</span>
                                                    </div>
                                                    <form action="#" id="appoint-form" method="post">
                                                            <p>
                                                                <label class="display-ie8" for="apo_name">Full Name</label>
                                                                <input type="text" name="apo_name" class="required" id="apo_name" placeholder="Full Name" title="* Please enter your Full Name" />
                                                            </p>
                                                            <p>
                                                                <label class="display-ie8" for="apo_phone">Phone Number</label>
                                                                <input type="text" name="apo_phone" class="required" id="apo_phone" placeholder="Phone Number" title="* Please enter your Phone Number" />
                                                            </p>
                                                            <p>
                                                                <label class="display-ie8" for="apo_email">Email Address</label>
                                                                <input  type="text" name="apo_email"  class="email required" id="apo_email" placeholder="Email Address" title="* Please enter valide Email Address" />
                                                            </p>
                                                            <p>
                                                                <label class="display-ie8" for="apo_date">"Appointment Date</label>
                                                                <input type="text" name="apo_date" class="required" id="apo_date" placeholder="Appointment Date" title="* Please select desired appointment date" />
                                                            </p>
                                                            <p>
                                                                <label class="display-ie8" for="apo_date">Message</label>
                                                                <textarea name="message" class="message required" cols="30" rows="5" placeholder="Message" title="* Please enter your message"></textarea>
                                                            </p>
                                                            
                                                            <div class="captcha-container">
                                                                <img src="{{asset('bundles/acmedemo/captcha/appointment_captcha.png')}}" alt=""/>
                                                                <input type="text" class="captcha required" name="captcha" maxlength="5" title="* Please enter the code characters displayed in image!"/>
                                                            </div>
                                                            
                                                            <p>															
                                                                <input type="submit" value="Submit Request" class="readmore">
                                                                <input type="hidden" name="action" value="request_appointment" />
                                                                <input type="hidden" name="target" value="fahid@960development.com" />
                                                                <img src="{{asset('bundles/acmedemo/images/loading.gif')}}" id="apo-loader" alt="Loader" />
                                                            </p>
                                                            <p id="apo-message-sent"></p>
                                                            <div class="error-container"></div>                            
                                                    </form>
                                                </div>                             
                                            </section>
                                            
                                            <section class="widget"><h3 class="title">Newsletter</h3>       
                                                <div class="newsletter">                  
                                                  <form action="#" id="newsletter" method="post" novalidate>
                                                      <p>Sign up out newsletter to get latest updates</p>
                                                      <p>
                                                          <label class="display-ie8" for="nl_email">Email Address</label>
                                                          <input type="text" name="EMAIL" id="nl_email" class="email required" placeholder="Email Address" title="* Please enter valid Email Address">
                                                          <input type="submit" id="nl_submit" value="Go" class="readmore">
                                                      </p>
                                                      <div class="error-container"></div>
                                                  </form>
                                                </div>               
                                            </section>									
                                        </aside>                                        
                                                                       
                                </div> <!-- end of official -->
                                
								<!-- twitter update list -->
                                <ul id="twitter_update_list">
                                        <li>No Tweet Loaded !</li>
                                </ul>
                                
                                <script src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js" type="text/javascript"></script>
                                <script type="text/javascript">
                                    getTwitters('twitter_update_list', { 
                                          id: '960development', 
                                          count: 1,
                                          enableLinks: true, 
                                          ignoreReplies: true, 
                                          clearContents: true,
                                          template: '%text%'
                                    });
                                </script>                             
								
								
                        </div><!-- end of container -->