     
                        <table class="footable" data-page-navigation="#pagination" data-page-size="5">
                            <thead>
                                <tr>
                                    <th><strong>Demande Envoyé par</strong></th>
                                    <th><strong>Messsage</strong></th>
                                    <th><strong>Fixé A</strong></th>
                                    <th><strong>Action</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                             {%for listmessages in mrendezvous %}
                                        <input type="hidden" value="{{listmessages.messageexpediteur}}" id="contenumsg"/>
                                  <tr>
                                    <td>{{listmessages.expediteur}}</td>
                                    <td>{{listmessages.messageexpediteur}}</td>
                                    <td>{{listmessages.daterendezvous|localizeddate('medium', 'medium')}}</td>
                                    
                                  
                                   
                                    <td>
                                        
                                            <a href="" onclick="return supprdv({{listmessages.id}});" ><img src="{{asset('bundles/portailprofil/profile/images/button_cancel.png')}}" alt="Ignorer"></a>
                                           
                                    </td>
                                </tr>
                                {%endfor %}
                            </tbody>
                        </table>
           <ul id="pagination" class="footable-nav"><span>Pages:</span></ul>
                   
   
   
   




					