{%if listEnvoyee %} 
<table class="footable" data-page-navigation="#pagination" data-page-size="5">
      <thead>
        <tr>
          <th data-class="expand">
            <span>Destinataire</span>
          </th>
          <th>
            <span>Objet</span>
          </th>
          <th data-hide="phone,tablet">
          Reçu Le 
		  
          </th>
          <th>
            Actions
          </th>
         
        </tr>
		
      </thead>
		
		<tbody>
		{%for listmsg in listEnvoyee %}
		   <tr><td><a href="#" id="my-button">{{listmsg.destinataire}}</a></td><td>{{listmsg.sujet}}</td><td>
		   {{listmsg.dateenvoi|localizeddate('medium', 'medium')}}</td><td>
		 <a href="#" onclick="supprimerMail({{listmsg.id}});"><img src="{{asset('bundles/portailprofil/profile/images/button_cancel.png')}}" alt="Répondre"></a></tr>
	   {%endfor%}
                     </tbody>	  
					 
    </table>
 
    <ul id="pagination" class="footable-nav"><span>Pages:</span></ul>
                                
	                       
                                </div>
								{%else%}
								<h2>Aucun message envoyé</h2>
								{%endif%}