<table>
<tr>
    <td>Titre</td>
    <td>{{ form_widget(form.title) }}</td>
</tr>

<tr>
    <td>Description</td>
    <td>{{ form_widget(form.description) }}</td>
</tr>

<tr>
    <td>Start</td>
    <td>{{ form_widget(form.start) }}</td>
</tr>

<tr>
    <td>End</td>
    <td>{{ form_widget(form.end) }}</td>
</tr>
<tr>
    <td>Categoie</td>
    <td>{{ form_widget(form.category) }}</td>
</tr>

    
    </table>
{{ form_widget(form) }}