{% extends 'PortailFrontBundle::layout.html.twig' %}
{% block body %}
<div id="sp">
<div class="header_full sample_01">
	<div class="head_top_shadow"></div>
	<div class="head_bot_shadow"></div>
	<div id="header"></div>
</div>
<!-- End Header -->

<!-- Start Content Wrapper -->
<div class="content_wrapper_sbr">
	<div class="PageTitle">
		<h1>Inscription</h1>
	</div>
	<div id="breadcrumbs">
		<a href="index.html" title="Home">Home</a> &raquo; Blog
	</div>
	<!-- Content Area -->
	<div id="content">
                     
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}
  
    </p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}
        
        </div>
        
        
          <div id="sidebar">
		<div class="widget-container widget_search">
		<form action="http://csscollector.com/xhtml/inspiration/light/action" id="searchform">
			<div>
				<label for="s" class="screen-reader-text">Search for:</label>
				<input type="text" id="s" name="s" value="" />
				<input type="submit" value="Search" id="searchsubmit" />
			</div>
		</form>
		</div>
		<div class="widget-container widget_categories">
			<h3>Categories</h3>
			<ul>
				<li><a href="" title="Web Design">Web Design</a></li>
				<li><a href="" title="News">News</a></li>
				<li><a href="" title="Photography">Photography</a></li>
				<li><a href="" title="Technology">Technology</a></li>
			</ul>
		</div>
		<div class="widget-container widget_tabbed">
			<!-- Start Tabbed Box Container -->
			<!-- Tabs Menu -->
			<ul class="tab-items">
				<li><a href="#tabs-1" title="Popular">Popular</a></li>
				<li><a href="#tabs-2" title="Recent">Recent</a></li>
				<li><a href="#tabs-3" title="Comments">Comments</a></li>
			</ul>
			<!-- Tab Container for menu with ID tabs-1 -->
			<div class="tabs-inner" id="tabs-1">
				<ul>
					<li>
						<a href=""><img src="{{asset('bundles/portailfront/images/content/sidebar_p_01.jpg')}}" width="60" height="55" alt="" class="pic alignleft" /></a>
						<b><a href="">Accumsan malesuada sitmet eros lorem</a></b>
						<span class="date">September 15, 2010</span>
						<div class="clear"></div>
					</li>
					<li>
						<a href=""><img src="{{asset('bundles/portailfront/images/content/sidebar_p_02.jpg')}}" width="60" height="55" alt="" class="pic alignleft" /></a>
						<b><a href="">Malesuada orcdonec umet lorem doloronsec tetuer malesuada</a></b>
						<span class="date">August 30, 2010</span>
						<div class="clear"></div>
					</li>
					<li>
						<a href=""><img src="{{asset('bundles/portailfront/images/content/sidebar_p_03.jpg')}}" width="60" height="55" alt="" class="pic alignleft" /></a>
						<b><a href="">Udipiscing elit mauris sifermen tum tellus dapibus</a></b>
						<span class="date">August 25, 2010</span>
						<div class="clear"></div>
					</li>
					<li>
						<a href=""><img src="{{asset('bundles/portailfront/images/content/sidebar_p_04.jpg')}}" width="60" height="55" alt="" class="pic alignleft" /></a>
						<b><a href="">Udipiscing elit mauris sifermen tum tellus dapibus</a></b>
						<span class="date">August 20, 2010</span>
						<div class="clear"></div>
					</li>
				</ul>
			</div>
			<!-- Tab Container for menu with ID tabs-2 -->
			<div class="tabs-inner" id="tabs-2">
				<ul>
					<li>
						<a href=""><img src="{{asset('bundles/portailfront/mages/content/sidebar_r_01.jpg')}}" width="60" height="55" alt="" class="pic alignleft" /></a>
						<b><a href="">Malesuada orcdonec</a></b>
						<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
						<div class="clear"></div>
					</li>
					<li>
						<a href=""><img src="{{asset('bundles/portailfront/images/content/sidebar_r_02.jpg')}}" width="60" height="55" alt="" class="pic alignleft" /></a>
						<b><a href="">Udipiscing elit</a></b>
						<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
						<div class="clear"></div>
					</li>
					<li>
						<a href=""><img src="{{asset('bundles/portailfront/images/content/sidebar_r_03.jpg')}}" width="60" height="55" alt="" class="pic alignleft" /></a>
						<b><a href="">Ullam corporis suscipit</a></b>
						<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
						<div class="clear"></div>
					</li>
					<li>
						<a href=""><img src="{{asset('bundles/portailfront/images/content/sidebar_r_04.jpg')}}" width="60" height="55" alt="" class="pic alignleft" /></a>
						<b><a href="">Malesuada orcdonec</a></b>
						<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
						<div class="clear"></div>
					</li>
				</ul>
			</div>
			<!-- Tab Container for menu with ID tabs-3 -->
			<div class="tabs-inner" id="tabs-3">
				<ul>
					<li>
						<b><a href="">Accumsan malesuada sitmet eros lorem</a></b>
						<span class="date">September 15, 2010</span>
					</li>
					<li>
						<b><a href="">Malesuada orcdonec umet lorem doloronsec tetuer malesuada</a></b>
						<span class="date">August 30, 2010</span>
					</li>
					<li>
						<b><a href="">Udipiscing elit mauris sifermen tum tellus dapibus</a></b>
						<span class="date">August 25, 2010</span>
					</li>
					<li>
						<b><a href="">Udipiscing elit mauris sifermen tum tellus dapibus</a></b>
						<span class="date">August 20, 2010</span>
					</li>
				</ul>
			</div>
		</div>
		<!-- End Tabbed Box Container -->
		<!-- Recent Projects Slider -->
		<div class="widget-container widget_recent_projects">
			<h3>Recent Projects</h3>
			<ul>
				<li>
					<a href=""><img src="{{asset('bundles/portailfront/images/content/sidebar_rp_01.jpg')}}" width="260" height="115" alt="" class="pic" /></a>
					<b><a href="">Donec accumsan malesuada</a></b>
					<p>Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan.</p>
				</li>
				<li>
					<a href=""><img src="{{asset('bundles/portailfront/images/content/sidebar_rp_02.jpg')}}" width="260" height="115" alt="" class="pic" /></a>
					<b><a href="">Donec accumsan malesuada</a></b>
					<p>Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan.</p>
				</li>
				<li>
					<a href=""><img src="{{asset('bundles/portailfront/images/content/sidebar_rp_03.jpg')}}" width="260" height="115" alt="" class="pic" /></a>
					<b><a href="">Donec accumsan malesuada</a></b>
					<p>Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan.</p>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
         <div class="clear"></div>
    </div>
    </div>
                
{% endblock %}