{% extends 'PortailFrontBundle::layout.html.twig'%} 
{%block body %}
<div class="forchaser"></div>
<div class="container_12" style="background:url({{asset('bundles/portailfront/images/bg-slider.png')}}) repeat-x center top ;">
    <div class="grid_8 alpha">
                <div class="breadcrumb">
                    <a href="./index.html">Home</a> » <span>Verification </span>
                </div>
            </div>
            <div class="grid_4 omega">
                <span id="current-date"></span>
            </div>
            
            <div class="clear"></div>
            <div class="separator"></div>
<div>
 {% if error %}
        <div><h2 class="intro-text">{{ error|trans({}, 'FOSUserBundle') }}</h2></div>
{% endif %}       
<form action="{{ path("checklogin") }}" method="post">
                <h3>Vérification d'authentification</h3>
                <div id="sign_up_form">
                    <input type="hidden" name="_csrf_token" value="{% render('PortailFrontBundle:Default:getToken') %}" />
                    <label><strong>{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</strong> <input type="text" name="_username" value="{{ last_username }}" required="required"/></label>
                    <label><strong>{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</strong> <input type="password"  name="_password" required="required"/></label>
                       
                        <input type="submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" border="2"  name="signer">
                    
                 <h3>Nouveau visiteur?</h3>
                <span> <a href="{{path('fos_register')}}">cliquer ici </a>pour s'inscrire</span>
               
                </div>
               
    </form>
</div>
    </div>
   {%endblock%}