<div id="slider-wrap">
                        		<div class="flexslider">
                                    <ul class="slides">                                        		
                                            <li>
                                                <a href="single-service.html" title="Qualified Doctors"  class="img-hover" ><img src="{{asset('bundles/acmedemo/images/Refined/doctors.jpg')}}" alt="Slider Image"></a>
                                            </li>
                                            <li>
                                                <a href="single-service.html" title="Clinical Excellence"  class="img-hover" ><img src="{{asset('bundles/acmedemo/images/Refined/clinical.jpg')}}" alt="Slider Image"></a>
                                            </li>
                                            <li>
                                                <a href="single-service.html" title="Dental Treatment"  class="img-hover" ><img src="{{asset('bundles/acmedemo/images/Refined/dental.jpg')}}" alt="Slider Image"></a>
                                            </li>
                                            <li>
                                                <a href="single-service.html" title="Caring Staff"  class="img-hover" ><img src="{{asset('bundles/acmedemo/images/Refined/caring-staff.jpg')}}" alt="Slider Image"></a>
                                            </li>
                                            <li>
                                                <a href="single-service.html" title="Medical Counseling"  class="img-hover" ><img src="{{asset('bundles/acmedemo/images/Refined/couseling.jpg')}}" alt="Slider Image"></a>
                                            </li>
                                    </ul>
                                    <ul class="slide-nav slides-5">
                                            <li>
                                                <h4>Qualified Doctors</h4>
                                                <p>Team of Expert Doctors</p>
                                            </li> 
                                            <li>
                                                <h4>Clinical Excellence</h4>
                                                <p>Expert in Clinical Work</p>
                                            </li> 
                                            <li>
                                                <h4>Dental Treatment</h4>
                                                <p>Specialized in Dental Care</p>
                                            </li> 
                                            <li>
                                                <h4>Caring Staff</h4>
                                                <p>Caring Staff</p>
                                            </li> 
                                            <li>
                                                <h4>Medical Counseling</h4>
                                                <p>Discuss Your Health</p>
                                            </li>                                            
                                    </ul><!-- end of slider nav -->
                        		</div>
                        </div><!-- end of slider-wrap -->