{% extends 'HamdiAdminBundle::index.html.twig' %}
{% block stylesheets %}
                {{ parent() }}
                <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
		<link rel="stylesheet" href="{{ asset('bundles/hamdimedia/stylesheets/light/styles.css') }}" type="text/css" media="screen" />
                
{% endblock %}
{% block javascripts %}
          {{ parent() }}      
        <script type="text/javascript" src="{{ asset('bundles/hamdimedia/js/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/hamdimedia/js/common.js') }}"></script>
{% endblock %}
{% block bienvenu%}                 
                        <h2>Bienvenue {{ user.username }} </h2>
			<p id="page-intro">Que voulez-vous faire?</p>
{% endblock %}
{% block msg %}
                       {% include 'HamdiAdminBundle:Admin:messages.html.twig' with {'msgs': msgs} %}  
                       {% include 'HamdiAdminBundle:Admin:box_image.html.twig' %}
                       {% include 'HamdiAdminBundle:Admin:box_video.html.twig' %} 
                        
{% endblock %}
{% block profile %}
                              
           <div id="profile-links">
	       Bonjour, <a href="#" title="Editer votre profile">{{ user.username }}</a>, Vous avez <a href="#messages" rel="modal" title="3 Messages">{{  n  }} Messages</a><br />
	      <br />
	   <a href="#" title="View the Site">Voir le Site</a> | <a href="{{path('fos_user_security_logout')}}" title="Sign Out">Déconnexion</a>
	   </div>
{% endblock %}	                        
{% block menu %}

     <ul id="main-nav">  <!-- Accordion Menu -->
				
				<li>
					<a href="{{path('hamdi_admin_homepage')}}" class="nav-top-item no-submenu"> <!-- Add the class "no-submenu" to menu items with no sub menu -->
						Tableau de bord
					</a>       
				</li>
				
				<li> 
					<a href="#" class="nav-top-item"> <!-- Add the class "current" to current menu item -->
					Gestion de Profil  
					</a>
					<ul>
						<li><a href="{{ path('contact_list')}}">Gérer Contactes</a></li>
						<li><a href="#">Gérer Articles</a></li> <!-- Add class "current" to sub menu items also -->
						<li><a href="#">Gérer Comments</a></li>
						<li><a href="#">Gérer Categories</a></li>
					</ul>
				</li>
				
				<li>
					<a href="#" class="nav-top-item">
						Pages
					</a>
					<ul>
						<li><a href="#">Create a new Page</a></li>
						<li><a href="#">Manage Pages</a></li>
					</ul>
				</li>
				
				<li>
					<a href="#" class="nav-top-item current">
						Ma Galerie
					</a>
					<ul>
						<li><a href="#up_img" rel="modal">Télécharger une image</a></li>
						<li><a href="#up_video" rel="modal">Télécharger un vidéo</a></li>
                                                <li><a href="#" class="current">Gérer Mes images</a></li>
						<li><a href="#">Gérer Mes videos</a></li>
					</ul>
				</li>
				
				<li>
					<a href="#" class="nav-top-item">
						Events Calendar
					</a>
					<ul>
						<li><a href="#">Calendar Overview</a></li>
						<li><a href="#">Add a new Event</a></li>
						<li><a href="#">Calendar Settings</a></li>
					</ul>
				</li>
				
				<li>
					<a href="#" class="nav-top-item">
						Groupes et utilisateurs
					</a>
					<ul>
						<li><a href="#">Groupes</a></li>
						<li><a href="{{path('user_list')}}">Utilisateurs</a></li>
						<li><a href="#">Mon Profile</a></li>
						
					</ul>
				</li>      
				
</ul> <!-- End #main-nav -->{# empty Twig template #}

{% endblock %}
{% block tab1 %}

    
      {% include 'HamdiMediaBundle:Admin:gallery_content_images.html.twig' %}
      <div class="pagination">
			<a href="#" title="First Page">&laquo; First</a><a href="#" title="Previous Page">&laquo; Previous</a>
			<a href="#" class="number" title="1">1</a>
			<a href="#" class="number" title="2">2</a>
			<a href="#" class="number current" title="3">3</a>
			<a href="#" class="number" title="4">4</a>
			<a href="#" title="Next Page">Next &raquo;</a><a href="#" title="Last Page">Last &raquo;</a>
      </div> <!-- End .pagination -->
      <div class="clear"></div>
   
{% endblock %}