
		<div class="gallery">
                        		            
			<ul>
				<li>
					<div class="gallery_item">
						<img src="{{asset('bundles/hamdimedia/gallery/thumb/gallery_01.jpg')}}" width="214" height="194" class="cover" alt="" />
						<h4>Photo 01</h4>
						<p>Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="{{asset('bundles/hamdimedia/gallery/fullsize/gallery_01.jpg')}}" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="{{asset('bundles/hamdimedia/gallery/thumb/gallery_02.jpg')}}" width="214" height="194" class="cover" alt="" />
						<h4>Photo 02</h4>
						<p>Donec accumsan malesuada orcidonec sitmet eros...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="{{asset('bundles/hamdimedia/gallery/fullsize/gallery_02.jpg')}}" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="{{asset('bundles/hamdimedia/gallery/thumb/gallery_03.jpg')}}" width="214" height="194" class="cover" alt="" />
						<h4>Photo 03</h4>
						<p>Donec accumsan malesuada orcidonec sitmet eros...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="{{asset('bundles/hamdimedia/gallery/fullsize/gallery_03.jpg')}}" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="{{asset('bundles/hamdimedia/gallery/thumb/gallery_04.jpg')}}" width="214" height="194" class="cover" alt="" />
						<h4>Photo 04</h4>
						<p>Donec accumsan malesuada orcidonec sitmet eros...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="{{asset('bundles/hamdimedia/gallery/fullsize/gallery_04.jpg')}}" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="{{asset('bundles/hamdimedia/gallery/thumb/gallery_05.jpg')}}" width="214" height="194" class="cover" alt="" />
						<h4>Photo 05</h4>
						<p>Donec accumsan malesuada orcidonec sitmet eros...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="{{asset('bundles/hamdimedia/gallery/fullsize/gallery_05.jpg')}}" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="{{asset('bundles/hamdimedia/gallery/thumb/gallery_06.jpg')}}" width="214" height="194" class="cover" alt="" />
						<h4>Photo 06</h4>
						<p>Donec accumsan malesuada orcidonec sitmet eros...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="{{asset('bundles/hamdimedia/gallery/fullsize/gallery_06.jpg')}}" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="{{asset('bundles/hamdimedia/gallery/thumb/gallery_07.jpg')}}" width="214" height="194" class="cover" alt="" />
						<h4>Photo 07</h4>
						<p>Donec accumsan malesuada orcidonec sitmet eros...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="{{asset('bundles/hamdimedia/gallery/fullsize/gallery_07.jpg')}}" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="{{asset('bundles/hamdimedia/gallery/thumb/gallery_08.jpg')}}" width="214" height="194" class="cover" alt="" />
						<h4>Photo 08</h4>
						<p>Donec accumsan malesuada orcidonec sitmet eros...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="{{asset('bundles/hamdimedia/gallery/fullsize/gallery_08.jpg')}}" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="{{asset('bundles/hamdimedia/gallery/thumb/gallery_09.jpg')}}" width="214" height="194" class="cover" alt="" />
						<h4>Photo 09</h4>
						<p>Donec accumsan malesuada orcidonec sitmet eros...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="{{asset('bundles/hamdimedia/gallery/fullsize/gallery_09.jpg')}}" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="{{asset('bundles/hamdimedia/gallery/thumb/gallery_10.jpg')}}" width="214" height="194" class="cover" alt="" />
						<h4>Photo 10</h4>
						<p>Donec accumsan malesuada orcidonec sitmet eros...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="{{asset('bundles/hamdimedia/gallery/fullsize/gallery_10.jpg')}}" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="{{asset('bundles/hamdimedia/gallery/thumb/gallery_11.jpg')}}" width="214" height="194" class="cover" alt="" />
						<h4>Photo 11</h4>
						<p>Donec accumsan malesuada orcidonec sitmet eros...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="{{asset('bundles/hamdimedia/gallery/fullsize/gallery_11.jpg')}}" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="{{asset('bundles/hamdimedia/gallery/thumb/gallery_12.jpg')}}" width="214" height="194" class="cover" alt="" />
						<h4>Photo 12</h4>
						<p>Donec accumsan malesuada orcidonec sitmet eros...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="{{asset('bundles/hamdimedia/gallery/fullsize/gallery_12.jpg')}}" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
		
		
   