<html>
<head>
<meta charset="utf-8">

<!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">



<!-- Required Stylesheets -->
 
     <link rel="stylesheet" type="text/css" href="{{asset('bundles/portailbloguser/bootstrap/css/bootstrap.min.css')}}">
 
<link rel="stylesheet" type="text/css" href="{{asset('bundles/portailbloguser/css/fonts/ptsans/stylesheet.css')}}" media="screen">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/portailbloguser/css/fonts/icomoon/style.css')}}" media="screen">

<link rel="stylesheet" type="text/css" href="{{asset('bundles/portailbloguser/css/mws-style.css')}}" media="screen">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/portailbloguser/css/icons/icol16.css')}}" media="screen">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/portailbloguser/css/icons/icol32.css')}}" media="screen">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/portailbloguser/css/mws-theme.css')}}" media="screen">

   <!-- Plugin Scripts -->
       <script src="{{asset('bundles/portailbloguser/js/libs/jquery-1.8.3.min.js')}}"></script>
    <script src="{{asset('bundles/portailbloguser/plugins/datatables/jquery.dataTables.min.js')}}"></script>
   
    <!-- Demo Scripts (remove if not needed) -->
     
    <script src="{{asset('bundles/portailbloguser/js/demo/demo.dashboard.js')}}"></script>
      



<!-- Theme Stylesheet -->


<title>MWS Admin - Dashboard</title>

</head>

<body>

        
        
        
        
            
            	
                
                
                
            	
                
            	

                <div class="mws-panel grid_8 mws-collapsible" id="mws-dashboard-chart">
				    
                	<div class="mws-panel-header">
                    	<span><i class="icon-table"></i> Browser Engines</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table mws-datatable">
                            <thead>
                                <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                    <td>Gecko</td>
                                    <td>Netscape 7.2</td>
                                    <td>Win 95+ / Mac OS 8.6-9.2</td>
                                    <td>1.7</td>
                                    <td><span class="badge">A</span></td>
                                    <td>
                                        <span class="btn-group">
                                            <a href="#" class="btn btn-small"><i class="icon-search"></i></a>
                                            <a href="#" class="btn btn-small"><i class="icon-pencil"></i></a>
                                            <a href="#" class="btn btn-small"><i class="icon-trash"></i></a>
                                        </span>
                                    </td>
                                </tr>
                                  <tr>
                                    <td>Gecko</td>
                                    <td>Netscape 7.2</td>
                                    <td>Win 95+ / Mac OS 8.6-9.2</td>
                                    <td>1.7</td>
                                    <td><span class="badge">A</span></td>
                                    <td>
                                        <span class="btn-group">
                                            <a href="#" class="btn btn-small"><i class="icon-search"></i></a>
                                            <a href="#" class="btn btn-small"><i class="icon-pencil"></i></a>
                                            <a href="#" class="btn btn-small"><i class="icon-trash"></i></a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- Panels End -->
            
				
				<!-- JavaScript Plugins -->
                               
      
   
</body>
</html>				