{# src/Blogger/BlogBundle/Resources/views/Page/sidebar.html.twig #}
    <link href="{{ asset('bundles/portailbloguser/css/sidebar.css') }}" type="text/css" rel="stylesheet" />

<section class="section">
    <header>
        <h3>Tags</h3>
    </header>
    <p class="tags">
        {% for tag, weight in tags %}
            <a href="{{path('showblogtag',{'tag':tag})}}"  <span class="weight-{{ weight }}">{{ tag }}</span></a>
        {% else %}
            <p>There are no tags</p>
        {% endfor %}
    </p>
</section>

<section class="section">
    <header>
        <h3>Latest Comments</h3>
    </header>
    {% for comment in latestComments %}
        <article class="comment">
            <header>
                <p class="small"><span class="highlight">{{ comment.user }}</span> commented on
                    <a href="{{ path('HamdiBlogBundle_blog_show', { 'id': comment.blog.id }) }}#comment-{{ comment.id }}">
                        {{ comment.blog.title }}
                    </a>
                    [<em><time datetime="{{ comment.created|date('c') }}">{{ comment.created|date('Y-m-d h:iA') }}</time></em>]
                </p>
            </header>
            <p>{{ comment.comment }}</p>
            </p>
        </article>
    {% else %}
        <p>There are no recent comments</p>
    {% endfor %}
</section>